@model Model.Account
@using Model

<html>

<head>
    <title>NightmareStudio Account</title>
    <link href="@Url.Content("~/Style/Style.css")" rel="stylesheet" type="text/css" />
</head>

<body background="\Content\Images\Background.jpg" style="-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">

    @* Pentru a centra elemnte absolute in html *@
    @*left:0px;right:0; margin-left:auto; margin-right:auto;*@

    <script>

    </script>

    <style>

    </style>

    <div style="position:relative;">

        <img src="~/Content/Images/Image_Black.jpg" width="500" height="750" style="border:2px solid #fff; opacity:0.7; position:absolute; left:0px;right:0; margin-left:auto; margin-right:auto; bottom:-825px" />

        <div style="position:absolute; bottom:-150px; left:0px;right:0; margin-left:auto; margin-right:auto; text-align:center;">
            <font face="arial" style="color:white; font-size:40px; ">
                <b>
                    @Account.username
                </b>
            </font>
        </div>


        <div style="position:absolute; bottom:-300px; left:725px;">
            <font face="arial" style="color:white; font-size:25px; ">
                <b>
                    Username: @Account.username
                </b>
            </font>
        </div>

        <div style="position:absolute; bottom:-350px; left:725px;">
            <font face="arial" style="color:white; font-size:25px; ">
                <b>
                    Password: @Account.password
                </b>
            </font>
        </div>

        <div style="position:absolute; bottom:-400px; left:725px;">
            <font face="arial" style="color:white; font-size:25px; ">
                <b>
                    Email: @Account.email
                </b>
            </font>
        </div>

        @using (Html.BeginForm("EditProfile", "Home"))
        {
            <input type="image" src="~/Content/Images/editIcon.png" style="position:absolute; width:40px;height:40px; bottom:-300px; left:1150px" />
            <input type="image" src="~/Content/Images/editIcon.png" style="position:absolute; width:40px;height:40px; bottom:-350px; left:1150px" />
            <input type="image" src="~/Content/Images/editIcon.png" style="position:absolute; width:40px;height:40px; bottom:-400px; left:1150px" />
        }


        @if (Account.isPremium)
        {
            <div style="position:absolute; bottom:-500px; left:725px;">
                <font face="arial" style="color:yellow; font-size:25px; ">
                    <b>
                        This account is premium!
                    </b>
                </font>
            </div>
        }



        @using (Html.BeginForm("Home", "Home"))
        {
            <button style="position:absolute;
                        bottom:-750px;
                        left:0px;right:0; margin-left:auto; margin-right:auto;
                        border:2px solid #fff;
                        background-color:#131320;
                        color:white;
                        width:275px;
                        height:50px;
                        ">
                <font face="arial" style="font-size:25px">Home</font>
            </button>
        }



    </div>

</body>

</html>